
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mat-type-demo-primary: mat.define-palette(mat.$indigo-palette);
$mat-type-demo-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mat-type-demo-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$mat-type-demo-theme: mat.define-light-theme((
  color: (
    primary: $mat-type-demo-primary,
    accent: $mat-type-demo-accent,
    warn: $mat-type-demo-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($mat-type-demo-theme);

$dark-theme-font-family : 'Tangerine', serif;
$dark-typography: mat.define-typography-config(
        $font-family: $dark-theme-font-family,
);

.dark-theme {
  $dark-primary: mat.define-palette(mat.$orange-palette);
  $dark-accent: mat.define-palette(mat.$purple-palette);
  $dark-theme: mat.define-dark-theme((
          color: (primary: $dark-primary, accent: $dark-accent),
          typography: $dark-typography,
  ));
  @include mat.all-component-typographies($dark-theme);
  @include mat.all-component-themes($dark-theme);
}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; }
